<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>结算订单</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <script type="text/javascript" src="../shop-style/js/jquery.js"></script>
    <script type="text/javascript" src="../shop-style/js/index.js"></script>
    <script src="../shop-style/script/global.js" type="text/javascript"></script>
    <script src="../shop-style/script/head.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="../shop-style/css/order/order.css"/>
    <link rel="stylesheet" type="text/css" href="../shop-style/css/order/tasp-style.css"/>

    <link rel="stylesheet" type="text/css" href="../shop-style/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="../shop-style/css/basic.css">
    <link rel="stylesheet" type="text/css" href="../shop-style/css/style.css"/>
    <link rel="stylesheet" href="../shop-style/style/base.css"/>
    <link rel="stylesheet" href="../shop-style/style/head.css"/>




</head>


<body>

<!-- 插入公共模板 _top -->
<div th:replace="../templates/user/common/_top :: common_top"></div>

<!-- 插入公共模板 _headNav -->
<div th:replace="../templates/user/common/_headNav :: common_headNav"></div>

<!--中部 start-->
<div class="con_ny">
    <!-- 订单确认 start -->
    <div id="content" class="grid-c">

        <div id="address" class="address" style="margin-top: 20px;" data-spm="2">
            <form name="addrForm" id="addrForm" action="#">
                <h3>确认收货地址
                    <span class="manage-address">
                        <a href="http://member1.taobao.com/member/fresh/deliver_address.htm" target="_blank" title="管理我的收货地址"
                            class="J_MakePoint" data-point-url="http://log.mmstat.com/buy.1.7">管理收货地址</a>
                    </span>
                </h3>
                <ul id="address-list" class="address-list">
                    <li th:each="userReceive : ${userReceiveList}" class="J_Addr J_MakePoint clearfix  J_DefaultAddr "  data-point-url="http://log.mmstat.com/buy.1.20">
                        <s class="J_Marker marker"></s>
                        <span class="marker-tip">寄送至</span>
                        <div class="address-info">
                            <input class="J_MakePoint" name="receiveId" type="radio" checked="checked" value="${userReceive.receiveId}" >
                            <label class="user-address">
                                <th:block th:text="|${userReceive.receiveProvince} ${userReceive.receiveCity} ${userReceive.receiveCounty}      ${userReceive.receiveAddress} (${userReceive.contact} 收)|"></th:block>
                                <em th:text="${userReceive.tel}"></em>
                            </label>
                            <em class="tip" th:if="${userReceive.isdefault} eq 00000001" th:text="默认地址"></em>
                        </div>
                    </li>
                </ul>
                <ul id="J_MoreAddress" class="address-list hidden">

                </ul>

                <div class="address-bar">
                    <a href="#" class="new J_MakePoint" id="J_NewAddressBtn">使用新地址</a>
                </div>

            </form>
        </div>
        <form id="J_Form" name="J_Form" action="/auction/order/unity_order_confirm.htm" method="post">
            <div>
                <h3 class="dib">确认订单信息</h3>
                <table cellspacing="0" cellpadding="0" class="order-table" id="J_OrderTable" summary="统一下单订单信息区域">
                    <caption style="display: none">统一下单订单信息区域</caption>
                    <thead>
                    <tr>
                        <th class="s-title">店铺宝贝<hr/></th>
                        <th class="s-price">单价(元)<hr/></th>
                        <th class="s-amount">数量<hr/></th>
                        <th class="s-total">小计(元)<hr/></th>
                    </tr>
                    </thead>



                    <tbody data-spm="3" class="J_Shop" data-tbcbid="0" data-outorderid="47285539868"  data-isb2c="false" data-postMode="2" data-sellerid="1704508670">
                    <tr class="first"><td colspan="5"></td></tr>

                    <tr class="item" data-lineid="19614514619:31175333266:35612993875" data-pointRate="0">
                        <td class="s-title">
                            <a href="#" target="_blank" title="Huawei/华为 G520新款双卡双待安卓系统智能手机4.5寸四核手手机" class="J_MakePoint" data-point-url="http://log.mmstat.com/buy.1.5">
                                <img src="http://img03.taobaocdn.com/bao/uploaded/i3/18670026332876589/T1A4icFbNeXXXXXXXX_!!0-item_pic.jpg_60x60.jpg" class="itempic"><span class="title J_MakePoint" data-point-url="http://log.mmstat.com/buy.1.5">Huawei/华为 G520新款双卡双待安卓系统智能手机4.5寸四核手手机</span></a>

                            <div class="props">
                                <span>机身颜色: 黑 </span>
                                <span>手机套餐: 套餐二 </span>
                                <span>机身内存: 4G </span>
                                <span>版本: 中国大陆 </span>
                            </div>
                            <a title="消费者保障服务，卖家承诺商品如实描述" href="#" target="_blank">
                                <img src="http://img03.taobaocdn.com/tps/i3/T1bnR4XEBhXXcQVo..-14-16.png"/>
                            </a>
                            <div>
                                <span style="color:gray;">卖家承诺72小时内发货</span>
                            </div>
                        </td>
                        <td class="s-price">

  <span class='price '>
 <em class="style-normal-small-black J_ItemPrice"  >630.00</em>
  </span>
                            <input type="hidden" name="costprice" value="630.00" class="J_CostPrice" />
                        </td>
                        <td class="s-amount" data-point-url="">
                            <input type="hidden" class="J_Quantity" value="1" name="19614514619_31175333266_35612993875_quantity"/>1

                        </td>
                        <td class="s-total">

   <span class='price '>
 <em class="style-normal-bold-red J_ItemTotal "  >630.00</em>
  </span>
                            <input id="furniture_service_list_b_47285539868" type="hidden" name="furniture_service_list_b_47285539868"/>
                        </td>
                    </tr>



                    <tr class="item-service">
                        <td colspan="5" class="servicearea" style="display: none"></td>
                    </tr>

                    <tr class="blue-line" style="height: 2px;"><td colspan="5"></td></tr>

                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5">

                            <div class="order-go" data-spm="4">
                                <div class="J_AddressConfirm address-confirm">
                                    <div class="kd-popup pop-back" style="margin-bottom: 40px;">
                                        <div class="box">
                                            <div class="bd">
                                                <div class="point-in">

                                                    <em class="t">实付款：</em>  <span class='price g_price '>
 <span>&yen;</span><em class="style-large-bold-red"  id="J_ActualFee"  >630.00</em>
  </span>
                                                </div>

                                                <ul >
                                                    <li><em>寄送至:</em><span id="J_AddrConfirm" style="word-break: break-all;">
   湖北省 恩施土家族苗族自治州 恩施市 湖北民族学院（信息工程学院）  男生宿舍楼235栋1234202
   </span></li>
                                                    <li><em>收货人:</em><span id="J_AddrNameConfirm">某某某 18124317260 </span></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <a href="#"
                                           class="back J_MakePoint" target="_top"
                                           data-point-url="">返回购物车</a>
                                        <a id="J_Go" class=" btn-go"  data-point-url=""  tabindex="0" title="点击此按钮，提交订单。">提交订单<b class="dpl-button"></b></a>
                                    </div>
                                </div>

                                <div class="J_confirmError confirm-error">
                                    <div class="msg J_shopPointError" style="display: none;"><p class="error">积分点数必须为大于0的整数</p></div>
                                </div>

                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>

            <input type="hidden" id="J_useSelfCarry" name="useSelfCarry" value="false" />
            <input type="hidden" id="J_selfCarryStationId" name="selfCarryStationId" value="0" />
            <input type="hidden" id="J_useMDZT" name="useMDZT" value="false" />
            <input type="hidden" name="useNewSplit" value="true" />
            <input type="hidden" id="J_sellerIds" name="allSellIds" value="1704508670" />
        </form>
    </div>
    <!-- 订单确认 end -->
</div>
<!--中部 end-->

<div class="none" style="height:20px;"></div>

<!-- 插入公共模板 _footer -->
<div th:replace="../templates/user/common/_footer :: common_footer"></div>

<script type="text/javascript" src="../lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="../shop-style/js/jq.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

    });
</script>

</body>
</html>
