@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}






a,img{border:0;text-decoration:none;}

/* mainbanner */
.mainbanner{height:500px;overflow:hidden; position:relative;}
.mainbanner_window{left:50%;width:1920px;height:500px;overflow:hidden;margin-left:-960px;position:absolute;}
.mainbanner_window ul{width:999999px;height:500px;position:relative;}
.mainbanner_window li{background:rgb(204, 204, 204);width:1920px;height:500px;text-align:center;font-size:0px;float:left;display:inline;}
.mainbanner_list{left:50%;top:450px;width:500px;height:30px;margin-left:-75px;position:absolute;}
.mainbanner_list li{width:30px;height:30px;overflow:hidden;float:left;display:inline;}
.mainbanner_list a{background:url("../images/50c15ece07fd0f3407000083.png") no-repeat;width:25px;height:25px;line-height:25px;overflow:hidden;text-align:center;color:rgb(255, 255, 255);font-size:12px;font-weight:700;float:left;display:inline-block;}
.mainbanner_list li.active a{background-position:0 -30px;text-decoration:none;}
.mainbanner_list li a:hover{background-position:0 -30px;text-decoration:none;}



