<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:if="http://www.w3.org/1999/xhtml">
<!-- 插入公共模板 _meta -->
<head th:insert="../templates/admin/common/_meta :: common_meta"></head>
<body>

<article class="cl pd-20">
	<form th:action="@{doGoodsAdd}" method="post" class="form form-horizontal" id="form-goods-add" enctype="multipart/form-data">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>商品名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="goodsName" name="goodsName">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>商品种类：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
					<select class="select" size="1" name="categoryId">
						<option th:each="goodsCategory : ${goodsCategoryList}" th:value="${goodsCategory.categoryId}" th:text="${goodsCategory.categoryName}"></option>
					</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>商品单价：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="以分为单位" id="price" name="price">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>库存数量：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="quantity" name="quantity">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>商品图片：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="btn-upload form-group">
					<a href="#" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i> 添加图片</a>
					<input type="file" id="goodsImage" multiple name="goodsImage" class="input-file">
				</span>
				<div>
					<!-- 显示图像预览 -->
					<img style="width: 160px;height: 180px;" id="goods-img">
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>简要描述：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="simpleDescribe" cols="" rows="" class="textarea"  placeholder="说点什么..."></textarea>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i>&nbsp;&nbsp;提交&nbsp;&nbsp;</button>
				<button id="reset" class="btn btn-default radius" type="reset">&nbsp;&nbsp;重置&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</article>


<!-- 插入公共模版 _footer -->
<div th:replace="../templates/admin/common/_footer :: common_footer"></div>

<!-- 引入城市三级联动js -->
<script type="text/javascript" src="../../my/area.js"></script>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="../../lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="../../lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="../../lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="../../lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});

	/**
	 * 表单校验
	 */
	$("#form-goods-add").validate({
		rules:{
			goodsName:{
				required:true
			},
			categoryId:{
				required:true
			},
			price:{
				required:true,
				digits:true
			},
			quantity:{
				required:true,
				digits:true
			},
			goodsImage:{
				required:true
			},
			simpleDescribe:{
				required:true
			}
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit({
				dateType: "json",
				success: function (result) {
					if(result.flag == "true"){
						var index = parent.layer.getFrameIndex(window.name);
						parent.layer.msg("添加成功,请刷新!",{icon: 6,time:1000});
						parent.layer.close(index);
					}
					if(result.flag == "exist"){
						layer.msg("用户名已存在!",{icon: 5,time:1000});
					}
					if(result.flag == "false"){
						layer.msg("添加失败!",{icon: 2,time:1000});
					}
				},
				error: function (err) {
					layer.msg('请求异常!',{icon: 2,time:1000})
				}
			});
		}
	});

	$(function(){
		//上传图像预览
		$('#goodsImage').on('change',function() {
			$('#goods-img').attr('src', window.URL.createObjectURL(this.files[0]));
		});
	});

});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>