<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>底部</title>
</head>
<body>
    <th:block th:fragment="common_footer">
        <!--底部开始-->
        <div class="footer_ys">
            <div class="footer_ys1"></div>
        </div>

        <!--声明 开始-->
        <div class="banquan">Copyright © 2019-2020 All Right Reserved 版权所有：李金印 备案号： 豫ICP 888888888-8号<br />
            公司地址：江西省南昌市青山湖区上坊路128号
            Github：<a href="https://github.com/diaomina" target="_blank">diaomina</a>
        </div>
        <!--声明 结束-->
        <!--底部结束-->
    </th:block>
</body>
</html>