<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>商品列表</title>
</head>
<body>
    <th:block th:fragment="common_goods_list">

            <div class="tplist1" th:each="goods : ${goodsList}">
                <div class="tplist1_1"><a href="#"><img th:src="${goods.image}" width="296" height="185" /></a></div>
                <div class="tplist_yy"></div>
                <div class="tplist_mc"><a href="#" th:text="${goods.goodsName}"></a></div>
                <div class="tplist_mcjg">
                    <span class="yuanjia" th:text="|库存：${goods.quantity}件|"></span>
                    <span class="tejia" th:text="|单价：¥${#numbers.formatDecimal(goods.price/100.0,1,2)}|"></span>
                </div>
            </div>
            <!--<div class="fy">首页 上一页 下一页 尾页 页次：1/1页  9个产品/页 转到：</div>-->
    </th:block>
</body>
</html>